body {
    color:#084b3a;
    text-align:center;
  background-color:#55d3ad;
  


img  {
      border-radius: 50%;
      object-fit: cover;
      width: 160px;
      height: 160px;
}
    p {
      max-width: 700px;
      margin: 20px auto;
      padding: 0 20px;
      color: #084b3a;
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
    }
    heading h1 {
      font-size: 36px;
      color: #063320;
      margin-bottom: 10px;
      font-family:cursive;

}
footer {
      text-align: center;
      padding: 15px;
      background-color:#0b916f ;
      color: rgb(14, 10, 10);
      font-family: 'Times New Roman', Times, serif;
      font-size: 16px;
    }
header {
      background-color: #0b916f;
    
      text-align: center;
      padding: 30px 20px;
      color: rgb(10, 6, 8);
      font-family:'Times New Roman', Times, serif;
      font-size:20px;
    }
ul {
      list-style-type: square;
      text-align: center;
      list-style-position: inside;
      max-width: 600px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      padding: 0 20px;
      color: #084b3a;
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;}
}